<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nanorus.trainproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CustomViewActivity">
        </activity>
        <activity android:name=".fragments_lifecycle.FragmentsLifecycleActivity">
        </activity>
        <activity android:name=".DifferentResourcesActivity">
        </activity>
        <activity android:name=".dialogs.DialogsActivity">
        </activity>
        <activity android:name=".BroadCastRecieverTestingActivity">
        </activity>

        <service android:name=".service.TestBroadcastRecieverService">
            <intent-filter>
                <action android:name="service_test"/>
            </intent-filter>
        </service>

        <activity android:name=".ImagesDpiActivity">
        </activity>
    </application>

</manifest>